<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro
    name="inertial_from_tensor"
    params="mass xyz ixx ixy ixz iyy iyz izz">
    <inertial>
      <origin xyz="${xyz}" rpy="0 0 0"/>
      <mass value="${mass}"/>
      <inertia
        ixx="${ixx}" ixy="${ixy}" ixz="${ixz}"
        iyy="${iyy}" iyz="${iyz}" izz="${izz}"/>
    </inertial>
  </xacro:macro>
</robot>
